script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
script
  | Mp3LameEncoderConfig = { memoryInitializerPrefixURL: "js/" };
script(src="js/Mp3LameEncoder.min.js")
script(src="js/EncoderDemo.js")
